@{
    Layout = null;
}


<div class="col-12">

    <label class="lblTitle lbl">نوع مرخصی</label>
    <label class="lblDescription lbl">
        در این فرم به تعریف انواع مرخصی پرداخته میشود
    </label>
    <label class="lblExample lbl">
        بطور مثال : "استحقاقی" ، "استعلاجی" ، "بدون حقوق" و ... میباشند
    </label>

    <hr class="lblHr" />

</div>