@{
    Layout = null;
}



<div class="col-12">

    <label class="lblTitle lbl">سمت سازمانی</label>
    <label class="lblDescription lbl">
        دراین فرم به تعریف سمت های سازمانی پرداخته میشود و اطلاعات این فرم در بخش های دیگر مورد استفاده قرار میگیرند
    </label>
    <label class="lblExample lbl">
        بطور مثال : "مدیر" ، "برنامه نویس" و ... میباشند
    </label>

    <hr class="lblHr" />

</div>
<div class="col-12">

    <label class="lblTitle lbl">عنوان سمت سازمانی</label>
    <label class="lblDescription lbl">
        عنوان سمت در این بخش درج میشود
        <br />
        * حداکثر طول 75 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال : "مدیر" ، "برنامه نویس" و ... میباشند
    </label>


</div>
