@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>صفحه مورد نظر یافت نشد</title>
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../wwwroot/dashboard/plugins/iconic/css/material-design-iconic-font.min.css">
    <link href="../../wwwroot/dashboard/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../wwwroot/dashboard/css/pages/extra_pages.css">
    <link href="../../wwwroot/dashboard/css/pages/extra_pages.css" rel="stylesheet" />
    <link href="~/wwwroot/dashboard/FarsiFont/FarsiFonts.css" rel="stylesheet" />
    <link href="~/wwwroot/dashboard/FarsiFont/FarsiFonts.css" rel="stylesheet" />

    <link rel="shortcut icon" href="~/wwwroot/dashboard/img/128.png" />
</head>

<body>
    <div class="limiter">
        <div class="container-login100 page-background">
            <div class="wrap-login100">
                <form class="form-404">
                    <span class="login100-form-logo">
                        <img alt="" src="../../wwwroot/dashboard/img/128.png">
                    </span>
                    <span class="form404-title p-b-34 p-t-27">
                        404
                    </span>
                    <p class="content-404">متاسفانه صفحه موردنظر یافت نشد</p>
                    <div class="container-login100-form-btn">
                        <a class="login100-form-btn" href="/">
                            بازگشت
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../../wwwroot/dashboard/plugins/jquery/jquery.min.js"></script>
    <script src="../../wwwroot/dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../wwwroot/dashboard/js/pages/extra-pages/pages.js"></script>
</body>
</html>