################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wskh
/LeaveAnalyzer.Anly/bin
/LeaveAnalyzer.Anly/obj/Debug
/LeaveAnalyzer.Anly/obj/Release
/OrdinaryWorkProgram.anly/bin
/OrdinaryWorkProgram.anly/obj
/packages
/OrdinaryWorkProgram.anly/.vs
/wskh.Core/.vs
/wskh.Core/bin
/wskh.Core/obj
/wskh.Data/.vs
/wskh.Data/bin
/wskh.Data/obj
/wskh.FingerTec/.vs
/wskh.FingerTec/bin
/wskh.FingerTec/obj
/wskh.LogAndEnrlol.analyzer/obj
/wskh.Model/.vs
/wskh.Model/bin
/wskh.Model/obj
/wskh.ReportModel/.vs
/wskh.ReportModel/bin/Debug
/wskh.ReportModel/obj
/wskh.Service/.vs
/wskh.Service/bin
/wskh.Service/obj
/wskh.StoredProcedure/.vs
/wskh.StoredProcedure/bin
/wskh.StoredProcedure/obj
/wskh.Web/.vs
/wskh.Web/bin
/wskh.Web/obj
/wskh.WebEssentials/.vs
/wskh.WebEssentials/bin
/wskh.WebEssentials/obj
