@{
    Layout = null;
}



<div class="col-12">
    <label class="lblTitle lbl">تقویم تعطیلی و ایام خاص</label>
    <label class="lblDescription lbl">
        در این فرم به ثبت و مدیریت ایام خاص پرداخته میشود.
    </label>
    <label class="lblExample lbl">
        بطور مثال : تغییر ساعت کاری در روزهای بعد از شب احیا است
    </label>
    <hr class="lblHr" />
</div>


<div class="col-12">
    <label class="lblTitle lbl">عنوان</label>
    <label class="lblDescription lbl">
        عنوان روز یا دوره تعطیلات است.
        <br />
        * حداکثر طول 75 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال : شب احیا، ایام کرونا
    </label>
</div>

<div class="col-12">
    <label class="lblTitle lbl">تاریخ شروع</label>
    <label class="lblDescription lbl">
        تاریخ شروع روز یا ایام خاص
    </label>
</div>

<div class="col-12">
    <label class="lblTitle lbl">تاریخ پایان</label>
    <label class="lblDescription lbl">
        تاریخ پایان روز یا ایام خاص
    </label>
</div>

