@{
    Layout = null;
}



<div class="col-12">

    <label class="lblTitle lbl">نوع استخدامی</label>
    <label class="lblDescription lbl">
        در این فرم به تعریف نوع استخدامی پرداخته میشود و اطلاعات این فرم در بخش های دیگر مورد استفاده قرار میگیرند
    </label>
    <label class="lblExample lbl">
        بطور مثال : "فصلی" ، "ساعتی" ، "سالانه" و ... میباشند
    </label>

    <hr class="lblHr" />

</div>
<div class="col-12">

    <label class="lblTitle lbl">عنوان استخدامی</label>
    <label class="lblDescription lbl">
        عنوان نوع استخدامی
        <br />
        * حداکثر طول 75 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال : "فصلی" ، "ساعتی" ، "سالانه" و ... میباشند
    </label>


</div>
