

@{
    ViewBag.Title = "در دست طراحی";
    Layout = "~/Areas/TimeAttendance/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-12">
        <div class="card card-topline-red">
            <div class="card-head">
                <header>در دست طراحی</header>
            </div>
            <div class="card-body " id="Grid-Part0">
                <div class="card-body " id="Filter-Part">

                    <div class="alert alert-danger">
                        این صفحه در دست طراحی میباشد.
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


