@{
    Layout = null;
}


<div class="col-12">

    <label class="lblTitle lbl">مقطع تحصیلی</label>
    <label class="lblDescription lbl">
        دراین فرم به تعریف گروهبندی تعطیلات و روزهای خاص پرداخته میشود. اطلاعات این فرم در بخش های دیگر نرم افزار مورد استفاده قرار میگیرد
    </label>
    <label class="lblExample lbl">
        بطور مثال : "تعطیلات واحد اداری سال 1398" و ... میباشند
    </label>

    <hr class="lblHr" />

</div>
<div class="col-12">

    <label class="lblTitle lbl">عنوان</label>
    <label class="lblDescription lbl">
        تعریف عنوان گرو تعطیلی و روز خاص
        <br />
        * حداکثر طول 50 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال : "تعطیلات واحد اداری سال 1398" و ... میباشند
    </label>


</div>
