@{
    Layout = null;
}



<table id="Grid" class="table  table-striped table-condensed table-bordered no-margin" style="width:100% !important;">
    <thead>
        <tr>
            <th style="width:1% !important;">ردیف</th>
            <th>روز</th>
            <th>تاریخ تردد</th>
            <th>زمان تردد</th>
            <th>تعداد تردد<br />وضعیت</th>
            <th>نام دستگاه</th>
            <th>کاربر سخت افزار</th>
            <th>کاربر نرم افزار</th>
        </tr>
    </thead>
</table>

