
@{
    ViewBag.Title = "دستگاه | گزارش فعالیت دستگاه ها";
    Layout = "~/Areas/TimeAttendance/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_AccessControll")

<link href="~/wwwroot/componenets/datatableajax/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/wwwroot/componenets/global/global.css" rel="stylesheet" />


<div class="row">

    <div class="col-12">
        <div class="card card-topline-red">
            <div class="card-head">
                <header>گزارش</header>
            </div>
            <div class="card-body " id="Grid-Part">
                @Html.Action("ListIndex", "Command")
            </div>
        </div>
    </div>

</div>




@section scripts
{
    <script src="~/wwwroot/controllersGrid/command.js"></script>
    <script src="~/wwwroot/componenets/global/global.js"></script>
}
