@{
    Layout = null;
}



<div class="col-12">

    <label class="lblTitle lbl">گروهبندی پرسنل</label>
    <label class="lblDescription lbl">
        در این فرم پرسنل با هدف انتساب قوانین و شیفت های کاری گروهبندی میشوند
    </label>
    <label class="lblExample lbl">
        بطور مثال : "گروه اداری" ، "گروه بازرگانی" ، "گروه برنامه نویسی" و ... میباشند
    </label>

    <hr class="lblHr" />

</div>
<div class="col-12">

    <label class="lblTitle lbl">عنوان</label>
    <label class="lblDescription lbl">
        عنوان گروه در این بخش درج میشود
        <br />
        * حداکثر طول 75 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال : "گروه اداری" ، "گروه بازرگانی" ، "گروه برنامه نویسی" و ... میباشند
    </label>


</div>
