
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">

        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse">
            <span></span>
        </a>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">

                <li class="dropdown dropdown-user" style="background-color: #e44f56;">
                    <a href="/Account/LogOff">
                        <span class="username username-hide-on-mobile" style="color: white;font-size: 17px;">
                            <i class="fa fa-power-off"></i> خروج
                        </span>
                    </a>
                </li>
                <li class="li-company-logo">
                    <img src="~/wwwroot/dashboard/img/name.png" class="companyname-logo" />
                </li>
            </ul>
        </div>
    </div>
</div>

