@{
    ViewBag.Title = "کارتابل | درخواست ماموریت روزانه";
    Layout = "~/Areas/TimeAttendance/Views/Shared/_Layout.cshtml";
}

<link href="~/wwwroot/componenets/datatableajax/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/wwwroot/componenets/global/global.css" rel="stylesheet" />



<div class="row">

    <div class="col-md-4 col-sm-12">
        <div class="card card-topline-red">
            <div class="card-head">
                <header>
                    ثبت مامویت
                </header>
                <i class="fa fa-helper poiner information" onclick="getDescription('/TimeAttendance/MissionRequest/Description')"></i>
            </div>
            <div class="card-body ">
                @using (Ajax.BeginForm("AddOrUpdate", "DailyMissionRequest", new AjaxOptions { HttpMethod = "Post", OnSuccess = "Success" }))
                {
                    <div id="AddOrUpdate-Part">
                        @Html.Action("AddOrUpdate", "DailyMissionRequest", new { id = 0 })
                    </div>
                }
            </div>
        </div>
    </div>


    <div class="col-md-8 col-sm-12">
        <div class="card card-topline-red">
            <div class="card-head">
                <header>گزارش</header>
            </div>
            <div class="card-body" id="Grid-Part">
                @Html.Action("ListIndex", "DailyMissionRequest")
            </div>
        </div>
    </div>

</div>




@section scripts
{
    <script src="~/wwwroot/controllersGrid/dailymisstionrequest.js"></script>
    <script src="~/wwwroot/componenets/unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/wwwroot/componenets/global/global.js"></script>
    <script>
        function Success(data) {
            $("#AddOrUpdate-Part").html(data.Html);
            blink("AddOrUpdate-Part");
            if (data.State == "0") {
                Message(data.State, data.Message);
            }
            GridReload("Grid");
            if (data.State == "0") {
                GetEmptyView("/TimeAttendance/DailyMissionRequest/AddOrUpdate", "AddOrUpdate-Part");
            }
        }

    </script>
    <script src="~/wwwroot/componenets/lastTimepicker/alex-date-time.js"></script>

    <script>
        $(document).ready(function () {
            $("#StartHour").typeATime();
            $("#EndHour").typeATime();
        });


    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
}
