@{
    Layout = null;
}



<div class="col-12">

    <label class="lblTitle lbl">شعبات سازمان</label>
    <label class="lblDescription lbl">
        دراین فرم به تعریف شعبات سازمان پرداخته میشود و اطلاعات این فرم در بخش های دیگر مورد استفاده قرار میگیرند
    </label>
    <label class="lblExample lbl">
        بطور مثال : "شعبه اداری" ، "واحد برنامه نویسی" و ... میباشند
    </label>

    <hr class="lblHr" />

</div>
<div class="col-12">

    <label class="lblTitle lbl">عنوان شعبه سازمان</label>
    <label class="lblDescription lbl">
        عنوان شعبه در این بخش درج میشود
        <br />
        * حداکثر طول 75 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال : "شعبه اداری" ، "واحد برنامه نویسی" و ... میباشند
    </label>


</div>
