@{
    Layout = null;
}


<div class="col-12">

    <label class="lblTitle lbl">مدیریت تیکت</label>
    <label class="lblDescription lbl">
        از این بخش میتوانید به مدیریت تیکت ارسال کنید
    </label>
    <label class="lblExample lbl">
        
    </label>

    <hr class="lblHr" />

</div>
