@{
    Layout = null;
}



<div class="col-12">

    <label class="lblTitle lbl">برنامه کاری</label>
    <label class="lblDescription lbl">
        دراین فرم الگوی رفت و آمد پرسنل طراحی میشود
    </label>
    <hr class="lblHr" />

</div>
