@{
    Layout = null;
}


<div class="col-12">

    <label class="lblTitle lbl">مقطع تحصیلی</label>
    <label class="lblDescription lbl">
        دراین فرم به تعریف مقاطع تحصیلی پرداخته میشود. اطلاعات این فرم در بخش های دیگر نرم افزار مورد استفاده قرار میگیرد
    </label>
    <label class="lblExample lbl">
        بطور مثال : "کاردانی" ، "کارشناسی" ، "کارشناسی ارشد" و ... میباشند
    </label>

    <hr class="lblHr" />

</div>
<div class="col-12">

    <label class="lblTitle lbl">عنوان مقطع تحصیلی</label>
    <label class="lblDescription lbl">
        تعریف عنوان مقطع تحصیلی
        <br />
        * حداکثر طول 75 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال : "کاردانی" ، "کارشناسی" ، "کارشناسی ارشد" و ... میباشند
    </label>


</div>
