@model TimeAttendance.Model.ChangePassWordModel

@{
    ViewBag.Title = "تنظیمات | تغییر گذرواژه";
    Layout = "~/Areas/TimeAttendance/Views/Shared/_Layout.cshtml";
}

<link href="~/wwwroot/componenets/global/global.css" rel="stylesheet" />


<div class="row">


    <div class="card card-box col-12">
        <div class="card-head">
            <header>تغییر گذرواژه</header>
        </div>
        <div class="card-body" id="Grid-Part">
            <form method="post" resource="/TimeAttendance/Account/ChangePassword">



                <div class="row">

                    @if (Model.Error != null)
                    {
                        <div class="form-group col-12">
                            <div class="alert alert-danger">
                                @Model.Error
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        @Html.LabelFor(x => x.Password, new { @class = "pull-right" })
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", MaxLength = "20" })
                        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "validation" })
                    </div>


                </div>
                <button type="submit" onclick="AddLoading()" class="btn btn-success btn-sm pull-right">ثبت / ویرایش</button>
            </form>
        </div>
    </div>


</div>




