@{
    Layout = null;
}


<div class="col-12">

    <label class="lblTitle lbl">تاریخ شروع</label>
    <label class="lblDescription lbl">
        تاریخ شروع مرخصی روزانه.
    </label>
   
    <hr class="lblHr" />

</div>
<div class="col-12">

    <label class="lblTitle lbl">تاریخ پایان</label>
    <label class="lblDescription lbl">
        تاریخ پایان مرخصی روزانه.
    </label>


</div>
