<style>
    .markes {
        font-size: 15px;
        color: red !important;
    }
</style>
<br />
<div class="col-12">
    <p class="pull-right">
        <i class="fa fa-map-marker pull-right markes" aria-hidden="true"></i>
        <span>دفتر مشهد:</span>چهارراه خیام -دستغیب35-خیابان بیستون 1 -پلاک 14  -واحد 2
    </p>
</div>
<br />
<br />
<div class="col-12">
    <p class="pull-right">
        <i class="fa fa-phone pull-right markes" aria-hidden="true"></i>
        <span>تلفن:</span>05137637003-05137619014-05137685739
    </p>
</div>

<br />
