.monthYearPicker {
    z-index: 9999999 !important;
}
.form-control {
    text-align: right !important;
    direction: rtl !important;
    margin-bottom: 20px !important;
}

.sidemenu li ul.sub-menu {
    padding-right: 12px !important;
}