@{
    Layout = null;
}



<div class="col-12">

    <label class="lblTitle lbl">مدیریت کاربران</label>
    <label class="lblDescription lbl">
        در این فرم به تعریف پرسنل پرداخته میشود و پس از آن هر کاربر میتواند اقدام به ورود به نرم افزار و مشاهده گزارشات را داشته باشد
    </label>
    <hr class="lblHr" />

</div>


<div class="col-12">
    <label class="lblTitle lbl">گروه کاربری</label>
    <label class="lblDescription lbl">
        انتخاب گروه کاری برای پسنل جهت آنالیز ترددها
    </label>
</div>


<div class="col-12">
    <label class="lblTitle lbl">مقطع تحصیلی</label>
    <label class="lblDescription lbl">
        انتخاب مقطع تحصیلی پرسنل
    </label>
</div>


<div class="col-12">
    <label class="lblTitle lbl">نوع استخدامی</label>
    <label class="lblDescription lbl">
        انتخاب نوع استخدامی پرسنل
    </label>
</div>


<div class="col-12">
    <label class="lblTitle lbl">شعبه</label>
    <label class="lblDescription lbl">
        انتخاب شبعه فعالیت پرسنل
    </label>
</div>


<div class="col-12">
    <label class="lblTitle lbl">سمت سازمانی</label>
    <label class="lblDescription lbl">
        انتخاب سمت سازمانی پرسنل
    </label>
</div>









<div class="col-12">
    <label class="lblTitle lbl">جنسیت</label>
    <label class="lblDescription lbl">
        انتخاب جنسیت پرسنل
    </label>
</div>


<div class="col-12">
    <label class="lblTitle lbl">نام</label>
    <label class="lblDescription lbl">
        ثبت نام پرسنل
        <br />
        * حداکثر طول 50 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال : "علیرضا"
    </label>
</div>


<div class="col-12">
    <label class="lblTitle lbl">نام خانوادگی</label>
    <label class="lblDescription lbl">
        ثبت نام خانوادگی پرنسل
        <br />
        * حداکثر طول 75 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال : "خزاعی نژاد"
    </label>
</div>


<div class="col-12">
    <label class="lblTitle lbl">نام کاربری (09...)</label>
    <label class="lblDescription lbl">
        شماره همراه پرسنل همراه با صفر جهت ورود به نرم افزار و مشاهده گزارشات
        <br />
        * حداکثر طول 11 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال : "09155572648"
    </label>
</div>


<div class="col-12">
    <label class="lblTitle lbl">کدملی</label>
    <label class="lblDescription lbl">
        کدملی پرسنل که در مرحله اول به عنوان گذرواژه جهت ورود کاربر میباشد
        <br />
        * حداکثر طول 10 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال : "0946100851"
    </label>
</div>