@{
    Layout = null;
}

<div class="col-12">

    <label class="lblTitle lbl">شیفت کاری</label>
    <label class="lblDescription lbl">
        دراین فرم برنامه کاری را در یکسال میچیند.
    </label>
    <hr class="lblHr" />

</div>
