@{
    Layout = null;
}


<div class="col-12">

    <label class="lblTitle lbl">مدیریت دستگاه</label>
    <label class="lblDescription lbl">
        این فرم مدیریت سخت افزارهای کنترل تردد را برعهده دارد و از این بخش میتوانید به تعریف دستگاه ها اقدام نمایید.
    </label>
    <label class="lblExample lbl">
        بطور مثال: دستگاه FaceID3 مستقر در ضلع شمالی کارخانه .
    </label>

    <hr class="lblHr" />

</div>




<div class="col-12">

    <label class="lblTitle lbl">عنوان</label>
    <label class="lblDescription lbl">
        در این قسمت عنوانی برای برنامه کاری شناور تعین میشود
        <br />
        * حداکثر طول 50 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال: "دستگاه FaceID3 واحد اداری"
    </label>


</div>

<div class="col-12">

    <label class="lblTitle lbl">آی پی</label>
    <label class="lblDescription lbl">
        آی پی اتصال به دستگاه مورد نظر میباشد
        <br />
        * حداکثر طول 15 کاراکتر میباشد
        <br />
        * مقدار درج شده، آی پی پیش فرض بوده است
    </label>
    <label class="lblExample lbl">
        بطورمثال: 192.168.1.201
    </label>


</div>

<div class="col-12">

    <label class="lblTitle lbl">شماره پورت</label>
    <label class="lblDescription lbl">
        در این قسمت شماره پورت جهت اتصال به دستگاه موردنظر میباشد.
        <br />
        * حداکثر طول 4 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطورمثال : 4370 پورت پیش فرض برای اتصال میباشد.
    </label>


</div>

<div class="col-12">

    <label class="lblTitle lbl">کلید اتصال</label>
    <label class="lblDescription lbl">
        این آیتم کلید اتصال به دستگاه میباشد.
        <br />
        * حداکثر طول 4 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال: مقدار 1 کلید پیش فرض اتصال برای دستگاه ها میباشد
    </label>


</div>

<div class="col-12">

    <label class="lblTitle lbl">کد امنیتی</label>
    <label class="lblDescription lbl">
        کدامنیتی بر روی دستگاه است که برای اتصال به دستگاه ضروری میباشد
        <br />
        * حداکثر طول 5 کاراکتر میباشد
    </label>
    <label class="lblExample lbl">
        بطور مثال: کد 1 همان کد پیش فرض دستگاه میباشد.
    </label>


</div>